/projectile.cache
/projectile-bookmarks.eld
/recentf
/bookmarks
/custom.el
./backups
/.cask/
/.mc-lists.el
/auto-save-list/
/backups/
/eshell/
/semanticdb/
/places
/lisp/local.el
/TAGS
/straight/build/
/straight/repos/
/straight/build-cache.el
!/straight/versions/default.el
/amx-items
