/projectile.cache
/projectile-bookmarks.eld
/recentf
/bookmarks
/custom.el
/.cask/
/.mc-lists.el
/eshell/
/semanticdb/
/places
/lisp/local.el
/TAGS
/straight/build/
/straight/repos/
/straight/build-cache.el
!/straight/versions/default.el
/amx-items
/url/
